input {
  file {
    type => "syslog"
    path => ["/var/log/syslog","/var/log/kern.log","/var/log/auth.log","/var/log/boot.log"]
  }
}

output {
  file {
    path => "/tmp/mydebug.txt"
  }
  redis {
    host => "{{ redis_host }}"
    data_type => "list"
    key => "test--key"
  }
}