input {
  file {
    path => [{{ file_list.name_debian }}]
    type => "{{ file_list.type }}"
  }
  file {
    path => [{{ file_list.name_redhat }}]
    type => "{{ file_list.type }}"
  }

}

output {
  file {
    path => "{{ debug_output }}"
  }
  redis {
    host => "{{ redis_host }}"
    data_type => "list"
    key => "{{ redis_key }}"
  }
}