input {
  file {
    path => [{{ file_list.name_debian }}]
    type => "{{ file_list.type }}"
  }
  file {
    path => [{{ file_list.name_redhat }}]
    type => "{{ file_list.type }}"
  }
}

filter {
  grok {
    match => [ "message", "%{TIMESTAMP_ISO8601:original_timestamp} %{NUMBER:pid} %{LOGLEVEL:level} (?<program>\w+([.]\w+)*) %{GREEDYDATA:syslog_message}" ]
  }
}

output {
  redis {
    host => "{{ redis_host }}"
    data_type => "list"
    key => "{{ redis_key }}"
  }
}
