input {
  redis {
    host => "{{ redis_host }}"
    type => "{{ file_list.type }}"
    data_type => "list"
    key => "{{ redis_key }}"
  }
}

output {
  file {
    path => "{{ debug_output }}"
  }
  elasticsearch {
    host => "{{ elasticsearch_host }}"
    protocol => http
  }
}